{% extends 'base.html' %}

{% block content %}

<div class="col-md-6 col-sm-12">
<h2>{{ movie.name }}</h2>
<h4>{{ movie.release_date }}</h4>

<img src="{{ movie.img_url }}" width="300">


</div>

<div class="col-md-6 col-sm-12">
    <form action="{% url 'review' movie.id %}" method="POST">
        {% csrf_token %}
        <h2>제목</h2>
        <input name = "title" class="form-control" type="text"/>
        <h2>내용</h2>
        <textarea name = "content" class="form-control" rows="20"></textarea>
        <button type="submit" class="btn btn-block btn-primary">제출</button>
    </form>
</div>

<h1>review page</h1>

{% endblock %}